<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/static/star.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <!-- Optional theme -->
    {% if title %}
    <title>{% block titi %}{{ title }} - microblog{% endblock %}</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
  </head>
  <body>
    <div class="container">
    <div class="page-header pull-right">Infosystem: 
      <a href="{{ url_for('index')}}">Home  </a>
      {% if g.user.is_authenticated() %}
      | <a href="{{ url_for('user', nickname=g.user.nickname) }}">Your Profile</a>
      | <a href="{{ url_for('logout') }}">Logout </a> &nbsp;
      {% endif %} &nbsp;
    </div>
    <br />
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="page-header pull-left">
        {% for message in messages %}
        <li class="bg-success">{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
	{% block content %}{% endblock %}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min\
.js"></script>
  </body>
</html>
