{% extends "base.html" %}

{% block titi %}blog{% endblock titi%}

{% block content %}
<h1 class="jumbotron">Hi, {{ g.user.nickname }}. <small>Let's tweet again !</small></h1>

<form action="" method="post" name="post" role="form" class="form-inline">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <label for="post">Say your word:</label>
    {{ form.post(size=30, maxlength=140, id="post", class="form-control", placeholder="max. 140 characters.") }}
    {% for error in form.post.errors %}
    <span class="text-danger">[ {{ error }} ]</span>
    {% endfor %}
    <input type="submit" value="Post!" class="btn btn-warning" />
  </div>
</form>

<p>
  {% for post in posts.items %}
    {% include 'post.html' %}
  {% endfor %}
  <img src="/static/img/cafe.png" class="center-block">      
</p>
<nav>
  <ul class="pager">
    {% if posts.has_prev %}
    <li>
      <a href="{{ url_for('index', page=posts.prev_num) }}"><< Newer posts</a>
    </li>
    {% endif %}
    {% if posts.has_next %}
    <li>
      <a href="{{ url_for('index', page=posts.next_num) }}">Older Post >></a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
