{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
  function set_openid(openid, pr)
  {
  u = openid.search('<username>')
    if (u != -1) {
    // openid requires username
    user = prompt('Enter your ' + pr + ' username:')
    openid = openid.substr(0, u) + user
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid
    }
</script>

<h1 class="jumbotron">Sign In</h1>
<form action="" method="post" name="login" role="form">
  <div class="form-group">
    {{ form.hidden_tag() }}
    <label for="open">Please enter your OpenID:<br>
      {% for error in form.openid.errors %}
    <br />
    <span class="bg-danger">[{{ error }}]</span><br />
    {% endfor %}
    </label>
    {{ form.openid(size=80, id="open", placeholder=" enter your OpenID") }}
    <br>Choose yours:
    {% for pr in providers %}
    <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');" class="label label-primary">{{ pr.name }}</a>
    {% endfor %}
    <br /><br />
    <label for="sub">{{ form.remember_me }} Remember Me</label>
    <br /><br />
    <input type="submit" value="Sign In" class="btn btn-warning" id="sub">
  </div>
</form>
{% endblock %}
